@{
    ViewData["Title"] = "Visionary Blue";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo(a) a Visionary Blue!</h1>
    <p>A Visonary Blue é um projeto para relatar e denunciar poluições nos mares e oceanos, com o intuito de ajudar a preservação dos mesmos.</p>
</div>
