@model GlobalSolution_MVC.Models.Denuncia

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Denuncia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DenunciaId" />
            <div class="form-group">
                <label asp-for="DataHora" class="control-label"></label>
                <input asp-for="DataHora" class="form-control" />
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalizacaoId" class="control-label"></label>
                <select asp-for="LocalizacaoId" class="form-control" asp-items="ViewBag.LocalizacaoId"></select>
                <span asp-validation-for="LocalizacaoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoridadeAmbientalId" class="control-label"></label>
                <select asp-for="AutoridadeAmbientalId" class="form-control" asp-items="ViewBag.AutoridadeAmbientalId"></select>
                <span asp-validation-for="AutoridadeAmbientalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotificacaoId" class="control-label"></label>
                <select asp-for="NotificacaoId" class="form-control" asp-items="ViewBag.NotificacaoId"></select>
                <span asp-validation-for="NotificacaoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
